
/*  feedback section start */
.feedback{
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#navigation
{
    background-color: var( --darkBlue);
    height:70px;
}


#box
{   
    position: absolute;
    top:100px;
    left: 50%;
    transform: translate(-50%);
    width: 40%;
    border:1px solid  black;
    margin: 20px auto;
    background-color: var(--whiteColor);
    border-radius: 28px;
    z-index:9999;          
}
.carousel-item img
{
    
    height:700px;

}
#backgroundimage
{
    background-image: url(".../images/img1");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*
body {
    background-image: url('your-image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textbox {
    
}
*/

.bg-imgbox{
    width: 100%;
    height: 100vh;
}

.bg-imgbox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.homePage{
    position: relative;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(51, 51, 51, 0.626);
}

.homelogin{
    width: 400px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.inputFields{
    background-color: rgba(0, 0, 0, 0.8);
}

.inputFields:focus{
    background-color: none;
}

.navigation{
    width: 80%;
    margin: 10px auto;
}


.card-stats{
    background-color: rgba(0, 0, 0, 0.747);
}