#navigation
{
    background-color: var(--transBlue);
    height:70px;
}
#box
{
    height:300px;
    width: 80%;
    border:1px solid  black;
    margin: 150px;
    background-color: var(--whiteColor);
    box-shadow: 10px 10px 10px 10px white;
    border-radius: 28px;
}
.location
{
    height: 500px;
}
#title
{
 height:30px;
}

